project.aux
project.fdb_latexmk
project.fls
project.listing
project.log
project.out
project.pdf
project.synctex.gz
project.toc
report.aux
report.fdb_latexmk
report.fls
report.log
report.out
report.pdf
report.synctex.gz
report.toc
